a {
  text-decoration: none;
  color: rgb(114, 114, 114);
}

/* Navbar */

.navbar img {
  width: 41px;
  margin: 0 25px;
}

.CTA-ppdb {
  width: 105px;
  height: 38px;
  font-size: 15px;
  border-radius: 60px;
  background-color: #20388c;
  border: 1px #20388c solid;
}
.CTA-ppdb:hover {
  background-color: #1c2f72;
}

/* End */

/* Jumbotron */
.jumbotron {
  margin-top: 150px;
}

.jumbotron .btn {
  width: 135px;
  background-color: transparent !important;
  border-color: #20388c;
  border-radius: 12px;
}

.jumbotron .btn-contact {
  color: #20388c;
  padding-top: 8px;
}

.jumbotron .btn-contact:hover {
  background-color: #20388c !important;
  filter: drop-shadow(0px 12px 16px rgba(32, 56, 140, 0.41));
  color: white;
  transition: 0.2s;
  transform: translateY(-5%);
}

.jumbotron .btn-OurSch {
  padding-top: 8px;
  margin-left: 15px;
  background-color: #20388c !important;
}

.jumbotron .btn-OurSch:hover {
  filter: drop-shadow(0px 12px 16px rgba(32, 56, 140, 0.41));
  transition: 0.2s;
  transform: translateY(-5%);
}

.jumbotron img {
  max-width: 600px;
  margin-top: -70px;
}

/* End */

/* Bar Info */
.barInfo {
  background-color: #d5dff1;
  max-width: 1000px;
  border-radius: 25px;
  margin-top: 200px;
}

.barInfo span {
  font-size: 12px;
  font-weight: normal;
}
/* End */

/* about leader */
.about-leader {
  margin-top: 100px;
}

.about-leader img {
  width: 300px;
}

.text-about-lead {
  max-width: 600px;
  margin-top: 100px;
}

/* end */

/* Jurusan */

.jurusan {
  margin-top: 200px;
}

.jurusan .card {
  width: 330px;
  border-radius: 13px;
}

.jurusan .card:hover {
  background: #217acd;
  box-shadow: 0px 1px 30px rgba(33, 85, 205, 0.77);
  border-radius: 13px;
  border-color: #217acd;
  color: white;
  transition: 0.3s;
}

.jurusan .card img {
  width: 80px;
  margin: auto;
}

.jurusan .card .btn {
  border: 1px solid #20388c;
  background-color: white;
  color: #20388c;
  width: 120px;
  border-radius: 13px;
}

/* End */

/* footer */

footer {
  margin-top: 300px;
}

footer .ppdb {
  height: 100px;
  background-color: #1c2f72;
  padding: 30px 100px;
}

footer .ppdb img {
  width: 600px;
  height: 300px;
  z-index: 1;
  margin-top: -230px;
}

footer .ppdb .btn {
  background-color: white;
  width: 105px;
  height: 38px;
  font-size: 15px;
  border-radius: 60px;
}

footer .ppdb .btn:hover {
  color: #20388c;
}
footer .contact-footer {
  padding: 50px 100px;
}

footer .contact-footer .alamat {
  width: 450px;
}

footer .contact-footer .alamat img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

footer .link h5 {
  font-size: 18px;
  font-weight: bold;
}

footer .link a {
  text-decoration: none;
}

/* End */

/* profile */

.profile .simple-jumbotron .jumbotron-text {
  color: black !important;
}

.profile .simple-jumbotron .jumbotron-img img {
  width: 450px;
}

/* end */

/* Guru */

.guru .card-guru {
  background: #ffffff;
  box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px 50px;
  margin: 20px 50px;
}

.guru .card-guru img {
  width: 100px;
}

.guru footer {
  margin-top: 400px;
}

.guru footer .ppdb img {
  height: 500px;
  margin-top: -430px;
}

/* End */

/* Jurusan */

.simple-jumbotron {
  height: 110vh;
}

.simple-jumbotron .jumbotron-text {
  width: 500px;
  margin-top: 180px;
}

.simple-jumbotron img {
  width: 500px;
  margin-top: 70px;
}

/* purpose  */

.purpose .purpose-card {
  padding: 15px;
  margin-top: -70px;
}

.purpose .purpose-card h5 {
  font-weight: bold;
}

.bg-rpl {
  background: rgba(32, 56, 140, 0.83);
  box-shadow: 4px 0px 10px 1px rgba(0, 0, 0, 0.33);
}

.second-bg-rpl {
  background: rgba(131, 150, 215, 0.83);
  color: #20388c;
}

.bg-htl {
  background: rgba(123, 80, 15, 0.83);
  box-shadow: 4px 0px 10px 1px rgba(0, 0, 0, 0.33);
}

.second-bg-htl {
  background: rgba(201, 172, 128, 0.5);
  color: #7b500f;
}

.bg-ak {
  background: rgba(5, 119, 10, 0.83);
  box-shadow: -4px 0px 10px 1px rgba(0, 0, 0, 0.33);
}

.second-bg-ak {
  background: rgba(87, 194, 91, 0.5);
  color: #05770a;
}

/* end */
